.btn-options{
    background-color: white;
    width: 100%;
    border-left: 1px solid #4D0457;
    border-top: 1px solid #4D0457;
    border-bottom: 3px solid #4D0457;
    border-right: 3px solid #4D0457;
    font-weight: bold;
    color: #4D0457;
    margin-bottom: 3px;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}

.soporte{
    color: #4D0457;
    font-size: 24px;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.top-soporte{
    border-top: 6px solid #4D0457;
    border-bottom: 6px solid #4D0457;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.labels-options{
    font-size: 1.8rem;
    color: #6bd883;
}

.contenedor{
    margin-left: 9rem;
    margin-right: 9rem;
}