.footer-container{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(126,217,87,1) 0%, rgba(32,202,255,1) 100%) !important; 
    align-items: center;
    height: 25% !important;
    border-top: 5px solid #4D0457;
    
}

.footer-grid{
    padding: 0px !important;
}

.footer-icons{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links-footer{
    color: #4D0457;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}



.text-footer{
    display: none; 
}

.text-footer-selected{
    display: none; 
    color: #4D0457;
}