.resumen{
    color: #20CAFF;
    background-color: #4D0457;
}

.modal-header{
    background-color: #4D0457;
}

.modal-body{
    background-color: #4D0457;
}

.modal-footer{
    background-color: #4D0457;
}

.vault-elegido{
    color: #7ED957;
    font-size: 1.3rem !important;
    font-weight: bold !important;
    text-align: center;
}

.img-vault{
    width: 100%;
}

.coins-grid{
    display: flex;
    flex-direction: row;
}

.grid-coins{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-vault-modal{
    width: 75px;
}