.resumen{
    color: #20CAFF;
    background-color: #4D0457;
    font-size: 1.8rem !important;
}

.modal-header{
    background-color: #4D0457;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.btn-close{
    color: #20CAFF !important;
}

.modal-body{
    background-color: #4D0457;
}

.modal-footer{
    background-color: #4D0457;
}

.vault-elegido{
    color: #7ED957;
    font-size: 3rem !important;
    font-weight: bold !important;
    text-align: center;
}

.img-vault{
    width: 100%;  
    padding: 1rem 3rem;
    font-weight: bold !important;
}

.coins-grid{
    padding: 0rem 3rem;
}

.grid-coins{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img-vault-modal{
    width: 20%;
    margin-bottom: 1rem;
}

.img-vault-text{
    font-size: 1.5rem;
    font-weight: bold;
    color: #7ED957;
}

.transition-modal-description{
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
    font-size: 24px !important;
    font-weight: bold !important;
    color: white;
}

.grid-stats{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0rem 3rem;
}