.table-grid{
    border-left: 1px solid #4D0457;
    border-top: 1px solid #4D0457;
    border-bottom: 3px solid #4D0457;
    border-right: 3px solid #4D0457;
}

.vault-design{
    border-left: 1px solid #4D0457;
    border-top: 1px solid #4D0457;
    border-bottom: 3px solid #4D0457;
    border-right: 3px solid #4D0457;
}