.background{
    background: rgb(126,217,87);
    background: linear-gradient(180deg, rgba(126,217,87,1) 0%, rgba(32,202,255,1) 100%) !important; 
    align-items: center;
    text-align: center;
    width: auto;
    height: 100%;
}


.banner-welcome{
    width: 70%;
}
.btn-login{
    margin-bottom: 1rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}