.auto-renew{
    font-size: 1.2rem;
    color: #6bd883;
}

.grid-btns{
    border-left: 1px solid #4D0457;
    border-top: 1px solid #4D0457;
    border-bottom: 3px solid #4D0457;
    border-right: 3px solid #4D0457;
    width: 100%;
    margin-bottom: 1rem;
    
}

.btn-vault{
    background-color: #4D0457;
    border-left: 1px solid #6bd883;
    border-top: 1px solid #6bd883;
    border-bottom: 3px solid #6bd883;
    border-right: 3px solid #6bd883;
    font-weight: bold;
    color: #6bd883;
    margin-bottom: 3px;
    margin-top: 3px;
   
}

.card-vault{
    border-left: 1px solid #4D0457;
    border-top: 1px solid #4D0457;
    border-bottom: 3px solid #4D0457;
    border-right: 3px solid #4D0457;
}

.textos-vault{
    color: #4D0457;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    display: flex;
}

.grid-total-invested{
    margin-top: 1rem !important;
    display: flex;
}

.total-invest{
    color: #20CAFF;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
}

.grid-valor-actual{
    margin-top: 1rem !important;
    display: flex;
}

.actual-invest{
    color: #6bd883;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
}

.img-vault{
    display: flex;
    justify-content: flex-end;
}

.btn-convertir{
    width: 100%;
    font-weight: bold !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.btn-desarmar{
    width: 100%;
    font-weight: bold !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.container {
    position: relative;
    color: black;
    margin-bottom: 3rem;
}

.top-right {
    position: absolute;
    top: 5%;
    right: 0%;
  }