
Footer{
    padding: 0px !important;
}

.themenu{
    background: rgb(126,217,87);
    background: linear-gradient(90deg, rgba(126,217,87,1) 0%, rgba(32,202,255,1) 100%) !important; 
    padding: 1rem !important;
    display: flex !important;
    align-items: flex-end !important;
    border-top: 3px solid #4D0457;
 
}

.header{
    background: rgb(126,217,87);
    background: linear-gradient(90deg, rgba(126,217,87,1) 0%, rgba(32,202,255,1) 100%) !important; 
    height: auto !important;
    padding-top: 30px !important;
    padding-bottom: 5px !important;
    border-bottom: 3px solid #4D0457;
}

.titleHeader{
    color: #4D0457 !important;
    width: auto !important;
    height: 5px !important;
}

.divider-slash{
    font-size: 18px;
    color: #4D0457;
}

.toggle-day{
    display: flex  !important;
    align-items: baseline !important;
}

.img-round-logo{
    background: #A18BDD;
    width:100px !important;
    height: 100px !important;
    border-radius: 50%;

}

.logo-header-col{
    display: flex !important;
    justify-content: flex-end !important;
    align-content: flex-end !important;
}

.links-footer{
    color: #4D0457;
    font-size: 0.9rem;
}