
.paso1{
    background-color: #4D0457;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
     justify-content: center;
     border: 2px solid #82DA5C;
     align-items: center;
 }

.row-centered{
    display: flex;
    justify-content: center;
}


 .carousel{
     width: 75%;
 }

 .carousel-indicators {
    display: none !important;
}

.text-green-step{
    font-size: 3rem;
    color: #82DA5C;
    font-weight: bold;
    text-align: center;
}

.info-text{
    text-align: center;
    color: aqua;
    font-size: 1.5rem;
    font-weight: bold;
}