.steps{
    border: 2px solid black !important;

}

.title{
    color: green;
    text-align: center;
    margin-top: 1rem;
}

.info{
    color: aqua;
}

.box-active{
    border: 2px solid green;
    color: white;
    background-color: purple;
}

.box-active{
    border: 2px solid green;
    color: white;
    background-color: purple;
}

.box-active{
    border: 2px solid green;
    color: white;
    background-color: purple;
}

.ant-row{
    text-align: center !important;

}

.row-pasos{

}

.col-pasos{
    display: flex;
    justify-content: center;
}
.icons-pasos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-pasos-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.paso{
    
}

.text-green{
    text-align: center;
    font-size: 24px;
}

.row-centered{
    display: flex;
    justify-content: center;
}

.carrousel{
    width: 50%;
}

.info-text{
    color: cyan;
    text-align: center;
}

.div-input{
    background-color: purple;
 
}

.grid-cont-input{
    display: flex;
    align-items: baseline;
}